# Prerequisites
*.d
*.pdb
packages/*
*/.vs/*
src/*/bin/*
src/*/obj/*
*/bin/*
*/obj/*
*/packages/*
*/src/.vs/*
output/*
Build/*.exe
bin/*
obj/*
*/src/*/bin/
*/src/*/obj/
v15/*
src/*/obj/Debug/*
*/src/*/obj/Debug/*
*/bin/*
*/obj/*
/bin/*
/obj/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pdb

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.cache


output/
Thumbs.db
.bzr/
obj/
bin/
test-results/
*.suo
*.resharper
*.user
_ReSharper.*
config/
*.pidb
*.userprefs
*.nunit
*.usertasks
*~
*.resources
$(Configuration)
nant.resx.bak
lib/*/icu*5*.dll
lib/*/icu.net.dll
lib/*/icu.net.dll.config
lib/*/taglib-sharp.dll
lib/*/Spart.dll
*.lnk
CopyTo*.bat
*.orig
*.pdb
*.ncrunchproject
*.ncrunchsolution
build/nuget.exe
*.cache
Download/
*.nupkg
packages/
lib/xulrunner/
.idea/
icu4c.readme.txt

.vs/