<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
     <add name="samdbconnection" connectionString="Data Source=db204.my-hosting-panel.com;Initial Catalog=sym147_arduinodb;Persist Security Info=True;User ID=sym147_projectarduino;Password=arduinosam147" providerName="System.Data.SqlClient"/>
   </connectionStrings>
</configuration>